.DS_Store

# Ignore data files when committing
data/external/*
data/processed/*
data/raw/*
data/test/geneExpressionDataDownloads/*

# Do not ignore these files
!/data/processed/dv3_priority_tests
!/data/test/geneExpressionDataDownloads/example/
